.logo {
	font-weight: 600;
	font-size: 28px;
	text-transform: uppercase;
	-webkit-text-fill-color: $black;
	-webkit-text-stroke: 0.4px $black;

	background-image: linear-gradient($black);
	background-repeat: no-repeat;
	background-clip: text;
	background-size: 100% 100%;
	transition: 0.3s;

	&:hover {
		background-size: 0% 100%;
		-webkit-text-stroke-color: $black;
		-webkit-text-fill-color: transparent;
	}
}
