// var for null.scss
$fontfamily: "Gtrsk", sans-serif;
$minwidth: 375px;

// colors
$background: #bebebe;
$white: #ffffff;
$yellow: #ffcb46;
$grey: #373737;
$black: #000000;

// breakpoints
$laptop: 1024px;
$tablet: 768px;
$mobile: 414px;
